[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = Gustavo Jácome
	email = 155338841+gustavofjacome@users.noreply.github.com
